extends ../layouts/common
block content
  .container-fluid.bg
    .container.profile
      .row
        .col-12
          h2.mb-3 Edit User

        .col-12.col-md-3.avatar
          if(!userView.avatar)
            img(src= "https://cdn.glitch.com/d30ce8e2-1cd9-4fd5-ab0c-db8dc4e7c410%2Fcat%20default%20avatar.png?v=1596768163107")
          else
            img(src= userView.avatar)

        .col-12.col-md-9.personal-info
          .row
            .col-12.top
              h5 Personal Infomation
            .col-12.col-md-8.content
              form(method= 'POST')
                .form-group
                  label(for='name') Full Name
                  input#name.form-control(type='text', aria-describedby='fullname', name='name', value= userView.name)
                .form-group
                  label(for='phone') Phone Number
                  input#phone.form-control(type='phone', name='phone', value= userView.phone)
                fieldset(disabled='')
                  .form-group
                    label(for='disabledEmail') Email
                    input#disabledEmail.form-control(type='text', value= userView.email)
                .form-group
                  label(for='password') Password
                  input#password.form-control(type='password', name='password', placeholder= '******')
                button.btn.btn-primary(type='submit') Save

    a.btn.btn-primary.mb-3(href='/users') Back